<div class="container py-2 px-3">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <div class="card p-4">
                <form action="">
                    <div class="form-group mb-3">
                        <label for="name" class="form-label"> Name <span class="text-danger">*</span></label>
                        <input type="text" name="name" id="name" class="form-control"  placeholder="Enter your name" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="phone" class="form-label">Contact Number <span class="text-danger">*</span></label>
                        <input type="text" name="phone" id="phone" class="form-control"  placeholder="Enter your contact number" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="personDetails" class="form-label">Person Details <span class="text-danger">*</span></label>
                        <textarea name="personDetails" id="personDetails" class="form-control" placeholder="Enter a missing person details" rows="8"></textarea>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>